<html>
<head>
    <title>Getting Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    h2,td,th{
        text-align: center;
    }
</style>
<body>

<style>
    .jumbotron{border: 1px solid cyan;margin: 10px 100px;border-radius: 50px;padding: 10px }
    h2{background: lightcyan;text-align: center;background-color: lightblue;color: blue;
    margin: 0px 550px;border-radius: 10px}
   a{margin: 10px;color: white;font-size: 20px;}
    button{font-family: Tahoma;margin: 0px 80px}
</style>
<body>
<b><h2>CURD Operations</h2></b>
<div class="jumbotron">
    <center>
    <button class=" btn btn-success"><a href="/insert/">Create</a></button>
    <button class="btn btn-success"><a href="/update/">Update</a></button>
    <button class="btn btn-success"><a href="/retrieve/">Retrieve</a></button>
    <button class="btn btn-success"><a href="/delete/">Delete</a></button>
    </center>
</div><br><br><br>


<div class="container-fluid">
<div class="row">
<div class="offset-md-1 col-md-10 ">
    <div class="table table-bordered">
            {% if data %}
            <h3 style="text-align: center">Product Details</h3><br>
            <table>
            <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Cost</th>
                <th>Product Class</th>
                <th>No. of Products</th>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Manf. Date</th>
                <th>Exp. Date</th>
            </tr>
            </thead>
            <tbody>

                {% for i in data %}
                    <tr>
                    <td>{{i.product_id}}</td>
                    <td>{{i.product_name}}</td>
                    <td>{{i.product_cost}}</td>
                    <td>{{i.product_class}}</td>
                    <td>{{i.no_of_products}}</td>
                    <td>{{i.customer_name}}</td>
                    <td>{{i.email }}</td>
                    <td>{{i.mobile }}</td>
                    <td>{{i.manfacture_date}}</td>
                    <td>{{i.expiry_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            {% else %}
            <h3 style="text-align: center">No Data Available</h3>
            {% endif %}
    </div>
        </div>
    </div>
</div>
<center>
    <a href="/#/" style="margin-right: 50px">Goto Home Page</a>
    <a href="/insert/">Goto Create Page</a>
</center>
</body>
</html>
