<html>
<head>
    <title>Update Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<style>
    .jumbotron{border: 1px solid cyan;margin: 10px 100px;border-radius: 50px;padding: 10px }
    h2{background: lightcyan;text-align: center;background-color: lightblue;color: blue;
    margin: 0px 550px;border-radius: 10px}
   a{margin: 10px;color: white;font-size: 20px;}
    button{font-family: Tahoma;margin: 0px 80px}
</style>
<body>
<b><h2>CURD Operations</h2></b>
<div class="jumbotron">
    <center>
    <button class=" btn btn-success"><a href="/insert/">Create</a></button>
    <button class="btn btn-success"><a href="/update/">Update</a></button>
    <button class="btn btn-success"><a href="/retrieve/">Retrieve</a></button>
    <button class="btn btn-success"><a href="/delete/">Delete</a></button>
    </center>
</div><br>



<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <form method="post" style="border: 1px solid lightsalmon;padding: 10px">
                {% csrf_token %}
                <label>Product Id:</label>
                <input type="number" name="pid" class="form-control">
                <label>Product Cost:</label>
                <input type="number" name="cost" class="form-control"><br>
                <center>
                <input type="submit" value="Update" class="btn btn-success">
                <input type="reset" value="Clear" class="btn btn-danger">
                </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>